doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
        title TOSCA Converter
        link(rel='stylesheet', href='css/reveal.css')
        link(rel='stylesheet', href='css/theme/black.css')
        // Theme used for syntax highlighting of code
        link(rel='stylesheet', href='lib/css/zenburn.css')
        // Printing and PDF exports
        script.
            var link = document.createElement('link');
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
            document.getElementsByTagName('head')[0].appendChild(link);
    body
        .reveal
            .slides
                include content/intro/intro
                include content/tableOfContents/contents.pug
                include content/typeDefinitions/typeDefinitions
                include content/otherYamlElements/otherYamlElements
        script(src='lib/js/head.min.js')
        script(src='js/reveal.js')
        script.
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                markdown: {
                    gfm: true,
                    tables: true,
                    breaks: false,
                    pedantic: false,
                    sanitize: false,
                    smartLists: true,
                    smartypants: false
                },
                dependencies: [
                    {src: 'plugin/markdown/marked.js'},
                    {src: 'plugin/markdown/markdown.js'},
                    {src: 'plugin/notes/notes.js', async: true},
                    {
                        src: 'plugin/highlight/highlight.js', async: true, callback: function () {
                        hljs.initHighlightingOnLoad();
                    }
                    }
                ]
            });
