section(id="TOSCAOrchestrator")
    h3 TOSCA Orchestrator

    ul
        li Conforming as a <a href="#/TOSCAProcessor">TOSCA Processor</a>
        li Can process all <a href="#/SupportedArtifactTypes">Artifacts types</a>
        li Can process <a href="#/CSAR">CSARs</a>
        li Can process <a href="#/TOSCAFunction">TOSCA functions</a>
        li Can process <a href="#/NormativeTypeDefinition">TOSCA normative type definitions</a>
        li Generates <a href="Error">specific errors</a>