section
    section(id="DescriptionAndDocumentation" data-markdown)
        include descriptionAndDocumentation.md
    section(id="Description")
        include yaml/description
    section(id="Documentation")
        include xml/documentation