text.
    NodeType:
        documentation: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">Documentation</a>
        anyAttribute: any
        name: QName
        targetNamespace: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">Namespace</a>
        abstract: Boolean
        final: Boolean
        Tags: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">Tag</a>*
        DerivedFrom: QName(<a href="#" onclick="location.href=this.href+'?key='+id;return false;">NodeType</a>)
        PropertiesDefinition: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">PropertiesDefinition</a>
        RequirementDefinitions: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">RequirementDefinition</a>*
        CapabilityDefinitions: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">CapabilityDefinition</a>*
        InstanceStates: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">InstanceState</a>*
        Interfaces: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">Interface</a>*
