text.
    NodeTypeImplementation:
        name: QName
        targetNamespace: Namespace
        nodeType: QName(NodeType)
        abstract: Boolean
        final: Boolean
        Tags: Tag*
        Derived_from: QName(NodeTypeImplementation)?
        RequiredContainerFeatures: RequiredContainerFeature*
        ImplementationArtifacts: ImplementationArtifact*
        DeploymentArtifacts: DeploymentArtifact*