text.
    <bold>
        derived_from: QName(<a href="#" onclick="location.href=this.href+'?key='+id;return false;">EntityType</a>)
        version: <a href="#/Version">Version</a>
        metadata: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">Metadata</a>
            targetNamespace: Namespace
        description: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">Description</a>
        attributes: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">AttributeDefinition</a>*
        properties: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">PropertyDefinition</a>*
