script.
    var id="#/NodeType";
text.
    NodeTypeName:
        derived_from: QName(<a href="#/Version;">NodeType</a>)
        version: <a href="#/Version">Version</a>
        metadata: <a href="#/Metadata">Metadata</a>
        targetNamespace: <a href="#/Namespace">Namespace</a>
        description: <a href="#/Description">Description</a>
        attributes: <a href="#/AttributeDefinition">AttributeDefinition</a>*
        properties: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">PropertyDefinition</a>*
        requirements: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">RequirementDefinition</a>*
        capabilities: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">CapabilityDefinition</a>*
        interfaces: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">InterfaceDefinitions</a>*
        artifacts: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">ArtifactDefinition</a>*