script.
    var id="#/NodeType";
text NodeTypeName:
    include entityTypePart
text.
    <bold>
        requirements: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">RequirementDefinition</a>*
        capabilities: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">CapabilityDefinition</a>*
        interfaces: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">InterfaceDefinitions</a>*
        artifacts: <a href="#" onclick="location.href=this.href+'?key='+id;return false;">ArtifactDefinition</a>*