h4 Metadata
pre
    code(data-noescape)
        text.
            metadata:
                (key: value)*
    
            key: string
            value: string


h5 Optional key names
pre
    code(data-noescape)
        text.
            metadata:
                template_name: string
                template_author: string
                template_version: <a href="#/Version">Version</a>

h5 Converter specific key names
pre
    code(data-noescape)
        text.
            targetNamespace: <a href="#/Namespace">Namespace</a>