section
    section(id="NodeType" data-markdown)
        include nodeType.md


    section(id="YamlNodeType")
        h2 TOSCA YAML Node type
        pre
            code(data-noescape)
                include yaml/nodeType

    section(id="XmlNodeType")
        h2 TOSCA XML Node type
        pre
            code(data-noescape)
                include xml/nodeType
    section(id="XmlNodeTypeImplementation")
        h2 TOSCA XML Node type implementation
        pre
            code(data-noescape)
                include xml/nodeTypeImplementation

    section(id="CombinedNodeType")
        h2 Combined Node type
        pre
            code(data-noescape)
                include combined/nodeType